<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
    <ul class="nav navbar-nav side-nav nicescroll-bar">
        <li class="navigation-header">
            <span>Main</span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a  class="active" href="javascript:void(0);" data-toggle="collapse" data-target="#dashboard_dr"><div class="pull-left"><i class="zmdi zmdi-accounts-alt mr-20"></i><span class="right-nav-text">Gestion des artisans</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="dashboard_dr" class="collapse collapse-level-1">
                <li>
                    <a href="{{ path('artisans') }}">Liste Des  Artisan</a>
                </li>
            </ul>
        </li>
        <li>
        </li>
        {% if  is_granted('ROLE_ADMIN') %}
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#param_dr"><div class="pull-left"><i class="zmdi zmdi-settings mr-20"></i><span class="right-nav-text">Paramétrages </span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
                <ul id="param_dr" class="collapse collapse-level-1 two-col-list">
                    <li>
                        <a href="{{ path('activity_index') }}">Groupe d'activité</a>
                    </li>
                    <li>
                        <a href="{{ path('trades_index') }}">Activités</a>
                    </li>
                    <li>
                        <a href="{{ path('government_index') }}">Gouvernorats</a>
                    </li>
                    <li>
                        <a href="{{ path('delegation_index') }}">Délégations</a>
                    </li>
                    <li>
                        <a href="{{ path('juridique_index') }}">juridique</a>
                    </li>
                    <li>
                        <a href="{{ path('user_index') }}">Utilisateurs</a>
                    </li>

                </ul>
            </li>
        {% endif %}
        <li><hr class="light-grey-hr mb-10"/></li>
        {% if  is_granted('ROLE_RESPONSABLE') %}
        <li class="navigation-header">
            <span>Gestion Des Enquêtes</span>
            <i class="zmdi zmdi-more"></i>
        </li>
        <li>
            <a  href="javascript:void(0);" data-toggle="collapse" data-target="#ui_dr"><div class="pull-left"><i class="zmdi zmdi-smartphone-setup mr-20"></i><span class="right-nav-text">Enquête</span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
            <ul id="ui_dr" class="collapse collapse-level-1 two-col-list">

                <li>
                    <a href="{{ path('list-survey') }}">Listes des enquête</a>
                </li>
            </ul>
        </li>
        {% endif %}
        {% if  is_granted('ROLE_ADMIN') %}
           <li>
              <a href="{{ path('statistic') }}" ><div class="pull-left"><i class="zmdi zmdi-chart-donut mr-20"></i><span class="right-nav-text">Statistiques </span></div><div class="pull-right"><i class="zmdi zmdi-caret-down"></i></div><div class="clearfix"></div></a>
           </li>
       {% endif %}

    </ul>
</div>
<!-- /Left Sidebar Menu -->