{# page to test any template render ppm/template/setting/index.html.twig#}

{% extends 'base.html.twig' %}
{% block content %}

    <div class="wrapper  theme-1-active pimary-color-green">
        <!--Preloader-->
        {#<div class="preloader-it">#}
        {#<div class="la-anim-1"></div>#}
        {#</div>#}
        <!--/Preloader-->
        {% block body %}

            <!-- Right Sidebar Backdrop -->
            <div class="right-sidebar-backdrop"></div>
            <!-- /Right Sidebar Backdrop -->

            <!-- Top Menu Items -->
            {# include the navbar from direcctory inc#}
            {% include 'inc/navbar/nav.html.twig' %}
            <!-- /Top Menu Items -->

            {# sidebar left #}
            {% include 'inc/sideBarLeft/sideBar.html.twig' %}

            <!-- Right Sidebar Menu -->
            {% include 'inc/navbar/sidbar.right.setting.html.twig' %}
            <!-- /Right Sidebar Menu -->

        {% endblock %}

        <!-- Main Content -->
        {% block main %}
            <div  class="page-wrapper">
                <div class="container-fluid">

                    <!-- mel7it -->
                    <p style="color: #fafafa;line-height: 0 !important;margin-top: -40px " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet itaque molestiae temporibus. Ab alias amet ex fugiat harum itaque modi mollitia nemo officiis omnis quam, tenetur veniam voluptate voluptatibus.</p>
                    <!-- /mel7it -->

                   {#{{ dump(artisan) }}#}
                    <div class="row heading-bg">
                        <!-- Breadcrumb -->
                        <div class="col-lg-9 col-sm-8 col-md-6 col-xs-12">
                            <ol class="breadcrumb">
                                <li><a href="{{ path('home') }}">Dashboard</a></li>
                                <li class="active"><span>change activity artisan</span></li>
                            </ol>
                        </div>
                        <!-- /Breadcrumb -->
                    </div>
                    {# message flash #}
                    {% for message in app.flashes('notice') %}
                        <div class="flash-notice ">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="zmdi zmdi-check pr-15 pull-left"></i><p class="pull-left">{{ message }}</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="well card-view">
                                <h6 class="mb-15">Informations of last activity artisan</h6>
                                <div class="user-others-details pl-15 pr-15">
                                    <div class="mb-15">
                                           <i class="zmdi zmdi-email-open inline-block mr-10"></i>CIN:
                                         <span class="inline-block txt-dark">{{ artisan.cin }}</span>
                                    </div>
                                    <div class="mb-15">
                                        <i class="zmdi zmdi-smartphone inline-block mr-10"></i> Activity
                                        <span class="inline-block txt-dark">{{ artisan.activity.name }}</span>
                                    </div>
                                    <div class="mb-15">
                                        <i class="zmdi zmdi-phone inline-block mr-10"></i> Trades:
                                        <span class="inline-block txt-dark">{{ artisan.trades.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">change activity</h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <div class="form-wrap">
                                                    {{ form_start(form) }}
                                                   {{ form_row(form.firstName) }}
                                                    {{ form_row(form.lastName) }}
                                                    <div class="form-group" style="display: none">
                                                        {{ form_label(form.ville) }}
                                                        {{ form_errors(form.ville) }}
                                                        {{ form_widget(form.ville) }}
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_errors(form.cin) }}
                                                        {{ form_label(form.cin) }}
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-credit-card"></i></div>
                                                            {{ form_widget(form.cin) }}
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        {{ form_label(form.activity) }}
                                                        {{ form_errors(form.activity) }}
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-bell"></i></div>
                                                            {{ form_widget(form.activity) }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        {{ form_label(form.trades) }}
                                                        {{ form_errors(form.trades) }}
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="ti-layout-menu-v"></i></div>
                                                            {{ form_widget(form.trades) }}
                                                        </div>
                                                    </div>

                                                        <button type="submit" class="btn btn-success mr-10">Submit</button>
                                                        <a href="{{ path('artisan_view', { id : artisan.id}) }}" class="btn btn-default">Cancel</a>
                                                    {{ form_end(form) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}



