
{# page to test any template render ppm/template/artisan/test.html.twig#}

{% extends 'base.html.twig' %}
{% block title %}Forme juridique index{% endblock %}
{% block content %}

    <div class="wrapper  theme-1-active pimary-color-green">
        <!--Preloader-->
        {#<div class="preloader-it">#}
        {#<div class="la-anim-1"></div>#}
        {#</div>#}
        <!--/Preloader-->
        {% block body %}

            <!-- Right Sidebar Backdrop -->
            <div class="right-sidebar-backdrop"></div>
            <!-- /Right Sidebar Backdrop -->

            <!-- Top Menu Items -->
            {# include the navbar from direcctory inc#}
            {% include 'inc/navbar/nav.html.twig' %}
            <!-- /Top Menu Items -->

            {# sidebar left #}
            {% include 'inc/sideBarLeft/sideBar.html.twig' %}

            <!-- Right Sidebar Menu -->
            {% include 'inc/navbar/sidbar.right.setting.html.twig' %}
            <!-- /Right Sidebar Menu -->

        {% endblock %}

        <!-- Main Content -->
        {% block main %}
            <div class="page-wrapper">
                <div class="container-fluid">

                    <!-- mel7it -->
                    <p style="color: #fafafa;line-height: 0 !important;margin-top: -40px " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet itaque molestiae temporibus. Ab alias amet ex fugiat harum itaque modi mollitia nemo officiis omnis quam, tenetur veniam voluptate voluptatibus.</p>
                    <!-- /mel7it -->
                    {#{{ dump(artisans.content) }}#}
                    <div class="row">
                        <!-- Basic Table -->
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">Liste Des Formes juridique </h6>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div>
                                    <a class="btn btn-primary pull-right mt-20" href="{{ path('juridique_new') }}">Nouveau forme juridique</a>
                                </div>
                                <div class="clearfix"></div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-bordered mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Nom</th>
                                                        <th>actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for juridique in juridiques %}
                                                        <tr>
                                                            <td>{{ juridique.id }}</td>
                                                            <td>{{ juridique.name }}</td>
                                                            <td>
                                                                <a href="{{ path('juridique_show', {'id': juridique.id}) }}"class="mr-25" data-toggle="tooltip" data-original-title="Voir"> <i class="fa fa-eye text-inverse m-r-10 text-info"></i> </a>
                                                                <a href="{{ path('juridique_edit', {'id': juridique.id}) }}" class="mr-25" data-toggle="tooltip" data-original-title="Modifier"> <i class="fa fa-pencil text-inverse m-r-10 text-success"></i> </a>

                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        <tr>
                                                            <td colspan="3">Forme juridique non trouvé </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Basic Table -->
                    </div>

                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}






