
{# page to add a new artisan ppm/template/artisan/add.html.twig#}
{% extends 'base.html.twig' %}

{% block content %}

    <div class="wrapper  theme-1-active pimary-color-green">
        <!--Preloader-->
        {#<div class="preloader-it">#}
        {#<div class="la-anim-1"></div>#}
        {#</div>#}
        <!--/Preloader-->
        {% block body %}

            <!-- Right Sidebar Backdrop -->
            <div class="right-sidebar-backdrop"></div>
            <!-- /Right Sidebar Backdrop -->

            <!-- Top Menu Items -->
            {# include the navbar from direcctory inc#}
            {% include 'inc/navbar/nav.html.twig' %}
            <!-- /Top Menu Items -->

            {# sidebar left #}
            {% include 'inc/sideBarLeft/sideBar.html.twig' %}

            <!-- Right Sidebar Menu -->
            {% include 'inc/navbar/sidbar.right.setting.html.twig' %}
            <!-- /Right Sidebar Menu -->

        {% endblock %}

        <!-- Main Content -->
        {% block main %}

            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- mel7it -->
                    <p style="color: #fafafa;line-height: 0 !important;margin-top: -40px " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet itaque molestiae temporibus. Ab alias amet ex fugiat harum itaque modi mollitia nemo officiis omnis quam, tenetur veniam voluptate voluptatibus.</p>
                    <!-- /mel7it -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">Ajouter un artisan</h6>
                                    </div>
                                    <div class="pull-right">
                                        <ol class="breadcrumb">
                                            <li><a href="{{ path('home') }}">Dashboard</a></li>
                                            <li><a href="{{ path('artisans') }}">Liste des  artisans</a></li>
                                            <li class="active"><span>Ajouter un  artisan</span></li>
                                        </ol>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="form-wrap">
                                            {{ form_start(form) }}
                                            <div class="row">
                                                <div class='col-sm-3'>
                                                    <div class="form-group">
                                                        {{ form_label(form.birthday) }}
                                                        <div class='input-group'>
                                                            {{ form_widget(form.birthday) }}
                                                            <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                               <div class="col-md-6">
                                                   <div class="form-group mb-30">
                                                       {{ form_label(form.typeArtisan) }}
                                                       {{ form_errors(form.firstName) }}
                                                       <div class="radio radio-info radio-inline">
                                                           {{ form_widget(form.typeArtisan) }}
                                                       </div>
                                                   </div>
                                               </div>
                                            </div>
                                            <div class="row mb-20">
                                               <div class="col-md-4">
                                                   <div class="form-group">
                                                       {{ form_label(form.firstName) }}
                                                       {{ form_errors(form.firstName) }}
                                                       <div class="input-group">
                                                           <div class="input-group-addon"><i class="icon-user"></i></div>
                                                           {{ form_widget(form.firstName) }}
                                                       </div>
                                                   </div>
                                               </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_label(form.lastName) }}
                                                        {{ form_errors(form.lastName) }}
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-user"></i></div>
                                                            {{ form_widget(form.lastName) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">

                                                </div>
                                            </div>
                                            <div class="row mb-20">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        {{ form_label(form.cin) }}
                                                        <span id="loader_cin"><i class="fa fa-spin fa-spinner"></i></span>
                                                        {{ form_errors(form.cin) }}
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-user"></i></div>
                                                            {{ form_widget(form.cin) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 mt-15" id="content_search_cin"></div>
                                                <div class="col-md-3">
                                                    {{ form_row(form.juridique) }}
                                                </div>
                                                <div class='col-sm-3 '>
                                                    <div class="form-group ">
                                                        {{ form_label(form.dateCreation) }}
                                                        <div class='input-group'>
                                                            {{ form_widget(form.dateCreation) }}
                                                            <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           <div class="row">
                                               <div class="col-md-6">
                                                   {{ form_row(form.delegation) }}
                                               </div>
                                           </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ form_row(form.activity) }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    {{ form_row(form.trades) }}
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-success"> Valider</button>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Row -->

                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}



