
{# page to add a new artisan ppm/template/artisan/add.html.twig#}
{% extends 'base.html.twig' %}

{% block content %}

    <div class="wrapper  theme-1-active pimary-color-green">
        <!--Preloader-->
        {#<div class="preloader-it">#}
        {#<div class="la-anim-1"></div>#}
        {#</div>#}
        <!--/Preloader-->
        {% block body %}

            <!-- Right Sidebar Backdrop -->
            <div class="right-sidebar-backdrop"></div>
            <!-- /Right Sidebar Backdrop -->

            <!-- Top Menu Items -->
            {# include the navbar from direcctory inc#}
            {% include 'inc/navbar/nav.html.twig' %}
            <!-- /Top Menu Items -->

            {# sidebar left #}
            {% include 'inc/sideBarLeft/sideBar.html.twig' %}

            <!-- Right Sidebar Menu -->
            {% include 'inc/navbar/sidbar.right.setting.html.twig' %}
            <!-- /Right Sidebar Menu -->

        {% endblock %}

        <!-- Main Content -->
        {% block main %}

            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- mel7it -->
                    <p style="color: #fafafa;line-height: 0 !important;margin-top: -40px " >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim eveniet itaque molestiae temporibus. Ab alias amet ex fugiat harum itaque modi mollitia nemo officiis omnis quam, tenetur veniam voluptate voluptatibus.</p>
                    <!-- /mel7it -->
                    <!-- Row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default card-view">
                                <div class="panel-heading">
                                    <div class="pull-left">
                                        <h6 class="panel-title txt-dark">Ajouter un artisan</h6>
                                    </div>
                                    <div class="pull-right">
                                        <ol class="breadcrumb">
                                            <li><a href="{{ path('home') }}">Dashboard</a></li>
                                            <li><a href="{{ path('artisans') }}">Liste des  artisans</a></li>
                                            <li class="active"><span>Ajouter un  artisan</span></li>
                                        </ol>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-wrapper collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-offset-4 col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label" for="type_company">Type de la société</label>
                                                    <div class="input-group">
                                                        <div class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></div>
                                                        <select id="type_company" name="type_company" aria-describedby="companyHelp" class="select2 form-control">
                                                            <option value="1">Artisan</option>
                                                            <option value="2">Société</option>
                                                        </select>
                                                    </div>
                                                    <small id="companyHelp" class="form-text text-muted">Selectionner le type de la société.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="add_artisan" class="form-wrap">
                                            {{ form_start(form,
                                                {'attr':
                                                    {'data-toggle':'validator',
                                                        'role':'form',
                                                        'novalidate':'true'
                                                    }
                                                })
                                            }}
                                            <div class="  row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        {{ form_label(form.cin) }}
                                                        <span id="loader_cin"><i class="fa fa-spin fa-spinner"></i></span>
                                                        {{ form_errors(form.cin) }}
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></div>
                                                            {{ form_widget(form.cin) }}
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 mt-15" id="content_search_cin"></div>
                                            </div>
                                           <div class="row">
                                               <div class="col-md-6">
                                                   <div class="row">
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.firstName) }}
                                                               {{ form_errors(form.firstName) }}
                                                               <div class="input-group">
                                                                   <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                                                   {{ form_widget(form.firstName) }}
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.lastName) }}
                                                               {{ form_errors(form.lastName) }}
                                                               <div class="input-group">
                                                                   <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                                                   {{ form_widget(form.lastName) }}
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                       <div class='col-md-12'>
                                                           <div class="form-group">
                                                               {{ form_label(form.birthday) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.birthday) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="row mb-20">
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.local) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.local) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-leaf"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.delegation) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.delegation) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-star"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.adresse) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.adresse) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-home"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.zip) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.zip) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-envelope"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                               <div class="col-md-6">
                                                   <div class="info_artisan row mb-20">
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.grade) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.grade) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-pencil"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.nationality) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.nationality) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-globe"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.employee) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.employee) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-user"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.qualification) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.qualification) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-lock"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                   </div>
                                                   <div class="row mb-20">
                                                       <div class="col-md-12">
                                                           <div class="form-group">
                                                               {{ form_label(form.juridique) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.juridique) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-list-alt"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                       <div class='col-md-12'>
                                                           <div class="form-group ">
                                                               {{ form_label(form.dateCreation) }}
                                                               <div class='input-group'>
                                                                   {{ form_widget(form.dateCreation) }}
                                                                   <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                               </div>
                                                               <div class="help-block with-errors"></div>
                                                           </div>
                                                       </div>
                                                   </div>
                                               </div>
                                           </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        {{ form_label(form.activity) }}
                                                        <div class='input-group'>
                                                            {{ form_widget(form.activity) }}
                                                            <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-folder-close"></span>
                                                            </span>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        {{ form_label(form.trades) }}
                                                        <div class='input-group'>
                                                            {{ form_widget(form.trades) }}
                                                            <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-tasks"></span>
                                                            </span>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-success" name="artisan_type" value="artisan_type"> Valider</button>
                                            {{ form_end(form) }}
                                        </div>
                                        <div id="add_company" class="form-wrap ">
                                            {{ form_start(form_company,
                                                {'attr':
                                                    {'data-toggle':'validator',
                                                        'role':'form',
                                                        'novalidate':'true'
                                                    }
                                                })
                                            }}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row mb-20">
                                                        <div class="col-md-12">
                                                            <div class="form-group ">
                                                                {{ form_label(form_company.name) }}
                                                                <div class='input-group'>
                                                                    {{ form_widget(form_company.name) }}
                                                                    <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-home"></span>
                                                            </span>
                                                                </div>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group ">
                                                                {{ form_label(form_company.juridique) }}
                                                                <div class='input-group'>
                                                                    {{ form_widget(form_company.juridique) }}
                                                                    <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-stats"></span>
                                                            </span>
                                                                </div>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group ">
                                                                {{ form_label(form_company.dateCreation) }}
                                                                <div class='input-group'>
                                                                    {{ form_widget(form_company.dateCreation) }}
                                                                    <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                                </div>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group ">
                                                                {{ form_label(form_company.local) }}
                                                                <div class='input-group'>
                                                                    {{ form_widget(form_company.local) }}
                                                                    <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-leaf"></span>
                                                            </span>
                                                                </div>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row mb-20">
                                                        <div class="col-md-12">
                                                            <div class="form-group ">
                                                                {{ form_label(form_company.delegation) }}
                                                                <div class='input-group'>
                                                                    {{ form_widget(form_company.delegation) }}
                                                                    <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-star"></span>
                                                            </span>
                                                                </div>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group ">
                                                                {{ form_label(form_company.adresse) }}
                                                                <div class='input-group'>
                                                                    {{ form_widget(form_company.adresse) }}
                                                                    <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-home"></span>
                                                            </span>
                                                                </div>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group ">
                                                                {{ form_label(form_company.zip) }}
                                                                <div class='input-group'>
                                                                    {{ form_widget(form_company.zip) }}
                                                                    <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-envelope"></span>
                                                            </span>
                                                                </div>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        {{ form_label(form_company.activity) }}
                                                        <div class='input-group'>
                                                            {{ form_widget(form_company.activity) }}
                                                            <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-folder-close"></span>
                                                            </span>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        {{ form_label(form_company.trades) }}
                                                        <div class='input-group'>
                                                            {{ form_widget(form_company.trades) }}
                                                            <span class="input-group-addon">
                                                           <span class="glyphicon glyphicon-tasks"></span>
                                                            </span>
                                                        </div>
                                                        <div class="help-block with-errors"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-danger" name="company_type" value="company_type"> Valider</button>
                                            {{ form_end(form_company) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Row -->

                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script>
         $( document ).ready(function() {
             let type_company = $('#type_company');
             $('#add_company').hide();
             type_company.on('change',function () {
                let val = ($(this).val());
                console.log(val);
                if (val == 2 )
                {
                    $('#add_company').show();
                    $('#add_artisan').hide();
                }else{
                    $('#add_company').hide();
                    $('#add_artisan').show();
                }
            })
         });
     </script>
 {% endblock %}

