{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    {% for message in app.flashes('notice') %}
        <div class="flash-notice ">
            <div class="alert alert-success"  role="alert">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p> agent : {{ app.user.username }}</p>
        {% endif %}

        <div class="table-responsive-md">
            <table class="table table-hover">
                <caption>list of all artisan</caption>
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Cin</th>
                    <th>action</th>
                </tr>
                </thead>
                <tbody>
                {% for artisan in artisans %}
                <tr>
                    <th>{{ "%'.07d"|format(artisan.id) ~ '-' ~ artisan.ville.government }}</th>
                    <td>{{ artisan.firstName }}</td>
                    <td>{{ artisan.lastName }}</td>
                    <td>{{ artisan.cin }}</td>
                    <td>

                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <a href="{{ path('artisan_view', {'id': artisan.id}) }}" type="button" class="btn btn-secondary btn-success">view</a>
                                {#generate a csrf with name 'delete-item' with function deleteArtisan in the main.js file #}
                                <a id="deleteArtisan" onclick="deleteArtisan({{ artisan.id }},'{{ csrf_token('delete-item') }}')"   type="submit"  class=" btn btn-secondary btn-danger" >delete</a>
                            </div>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>
{% endblock %}
